# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/config/database.yml.orig

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
Gemfile
Gemfile.lock
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret


Gemfile
Gemfile.lock

app/junk

./junk
