<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Dewey Decibel Database</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <p>Will include dashboard, search and browse functionality in 
    	the light box. Link to Playlists page.</p>
    <h2>
    <%= link_to "Search & Browse", "#", :data => { :colorbox => true, :colorbox_height => '300px', :colorbox_width => '300px', :colorbox_iframe => true } %>
  </body>
</html> -->

<!-- jumbotron visible to all -->
<div class="container fluid">

<div class="jumbotron">
	<h2>WSUM Music Library Database</h2>
	<h3 style="font-style: italic; /*text-align: right;*/">brought to you by D3</h3>
	<hr/>
	<div class="row">
  		<div class="col-lg-8">
    		<div class="input-group">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Search</button>
      			</span>
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
  		<div class="col-lg-2">
        	<button class="btn btn-default" type="button">Browse</button>
  		</div><!-- /.col-lg-2 -->
  		<div class="col-lg-2">
        	<button class="btn btn-default" type="button">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
  		</div><!-- /.col-lg-2 -->
	</div><!-- /.row -->
	<hr/>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
      			</span>
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
	</div><!-- /.row -->
</div>
<!-- jumbotron only visible to admins w/add&edit priv -->
</div> <!-- end fluid container -->
