<!DOCTYPE html>
<html>
  <head>
    <title>Dewey Decibel Database</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <p>Will include dashboard, search and browse functionality in 
    	the light box. Link to Playlists page.</p>
    <h2>
    
  </body>
</html>
