<script>
	
	
</script>

<div class="iframe">
<!-- <div class="row"> -->
	<div style="text-align:center;">
		<h1><strong><%= @user.name %></strong></h1>
		<h4>
			<%= @user.email%>
			<!-- <button class="btn btn-danger">Delete User</button> -->
			<%= link_to '<button type="button" class="btn btn-danger">Delete User</button>'.html_safe, :controller => "delete_user_conf", :action => "deleteConfirm", :userID => @user.id  %>
		</h4>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<!-- <body> -->
			<table class="table table-striped table-bordered table-hover table-nonfluid">
				<tbody>
					<tr>
						<td><strong>Q-Drive Permissions</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.qDrive %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="qDriveOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="qDriveOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="qDriveOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="qDriveOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>
					<tr>
						<td><strong>Add Songs</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.addSong %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="addSongOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="addSongOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="addSongOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="addSongOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Edit Songs</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.editSong %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="editSongOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="editSongOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="editSongOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="editSongOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Delete Song</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.deleteSong %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="delSongOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="delSongOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="delSongOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="delSongOff"> Off
  								</label>
  							<% end %>  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Can Grant Permissions</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.grantPermission %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="grantOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="grantOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="grantOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="grantOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
						</tr>  			
					<tr>
						<td><strong>Add Users</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.addUser %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="addUserOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="addUserOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="addUserOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="addUserOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Edit Users</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @privileges.editUser %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="editUsersOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="editUsersOff"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="editUsersOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="editUsersOff"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Delete Users</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
 							<% if @privileges.deleteUser %>
  								<label class="btn btn-success active">
    								<input type="radio" name="options" id="delUsersOn"> On
  								</label>
  								<label class="btn btn-danger">
    								<input type="radio" name="options" id="Off"> Off
  								</label>
  							<% else%>
  								<label class="btn btn-success">
    								<input type="radio" name="options" id="delUsersOn"> On
  								</label>
  								<label class="btn btn-danger active">
    								<input type="radio" name="options" id="Off"> Off
  								</label>
  							<% end %>
  							</div>
  						</td>
					</tr>  			
				</tbody>
			</table>
		<!-- </body> -->
	</div>
	<div class="col-md-3"></div>
<!-- </div> -->
</div>