<div id="all_content">
  <div id="yield_wrapper">
    <%= render :partial => 'layouts/header' %>
    <%#= render :partial => 'layouts/notify' %>

    <h1 id="playlist_owner"><%= User.first.name %>'s Playlists</h1>
  
    
    <div class="container">

    <%= button_to 'New Playlist', new_playlist_path,
     :class => 'btn btn-success', :id => 'plist_new_btn', :method => 'get'  %> 
      <div class="list-group">
        <% @playlists.each do |playlist| %>
          <%= render partial: 'playlists/singleton', locals: { playlist: playlist} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

