<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/notify' %>

<h1>AdminPage#admin</h1>
<p>Find me in app/views/admin_page/admin.html.erb</p>

<%= render :partial => 'layouts/footer' %>