
<search class>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
      				<button class="btn btn-default" type ="button">Search</button>
      			</span>
      			<input type="text" class="form-control">			
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
	</div><!-- /.row -->
	<table class="table table-striped table-border table-hover">
  		<thead><td><strong>Song</strong></td><td><strong>Artist</strong></td><td><strong>Album</strong></td></thead>
        <tr>
          <td>sdsd</td>
        </tr>
	</table>
</search>

