<h2> <%= "Keyword: " + @keyword %> </h2>
<h2> <%= "Criterion: " + @criterion_show %> </h2>
<h3>  Result: </h3>
<% @rt.each do |entry| %>
	<p>
		<%= entry %>
		<% if @album_flag  %>
			<%= link_to '<button type="button" class="btn btn-info">Inspect</button>'.html_safe, {:controller => "album_inspect", :action => "albumInspect", :album => entry["id"] } %>
		<% end %>
	</p>
<% end %>


