/* stylesheet for project */
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Oswald', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
header
{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #F05133;
  color: #333333;
  font-family: 'Oswald', sans-serif;
  // margin: 0 5px 0 5px;
}

.wsum
{
  position: absolute;
  top: 0;
  background-color: #F05133;
  color: #333333;
  font-family: 'Oswald', sans-serif;
}

#wsum_logo
{
  background-color: #F05133;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75em;
}

// a #wsum_logo:hover
// {
  // color: blue;
// }

// .navbar a:hover
// {
  // color: blue;
// }

#wsum_logo:hover
{
  background-color:black;
  color:#F05133;
}

#home_link
{
  background-color: #F05133;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

#home_link:hover
{
  background-color: black;
  color: #F05133;
}

#playlist_link
{
  background-color: #F05133;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

#playlist_link:hover
{
  background-color: white;
  color: #F05133;
}

#signout_link
{
  background-color: #F05133;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

#signout_link:hover
{
  background-color: #D92623;
  color: white;
}

// .navbar-brand:hover
// {
  // color:blue;
// }

/* notify */
notify
{
  position: relative;
  /* margin: 10px 0 10px 0; */
  font-family: 'Oswald', sans-serif;
  width: 200px;
}

/* jumbotron */
.jumbotron
{
  width: 75%;
  margin: 0 auto;
  font-family: 'Menlo', mono-space;
  
}

/* footer */

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  font-family: 'Oswald', sans-serif;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
