/* stylesheet for project */
/* thanks to cssstickyfooter.com */
@import "bootstrap";

/* universal */

$wsum_orange: #f05133;
$wsum_black: #333333;
$wsum_font: 'Oswald', sans-serif;

.table-nonfluid {
   // width: 50%;
   float: left;
   margin: 0 auto;
}

.songI-nonfluid {
  // width: auto;
  float: right;
  margin: 0 auto;
  
  // img
  // {
    // margin
  // }
}

.showPlaylistsButton {
  color:purple;
}


html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px;
  font-family: $wsum_font;
  height: 100%;
}

#all_content
{
  min-height: 100%;
  /*height: 100vh;*/
}

#yield_wrapper
{
  overflow: auto;
  padding-bottom: -45px;
  margin-bottom: 30px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.iframe {
  overflow-x: hidden;
}

.center h1 {
  margin-bottom: 10px;
}

.field
{
  color: $wsum_black;
  font-family: $wsum_font;
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}

/* header */
header
{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  // margin: 0 5px 0 5px;
}

.wsum
{
  position: absolute;
  top: 0;
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
}

#wsum_logo
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.75em;
}

// a #wsum_logo:hover
// {
  // color: blue;
// }

// .navbar a:hover
// {
  // color: blue;
// }

#wsum_logo:hover
{
  background-color: $wsum_black;
  color: $wsum_orange;
}

#home_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#home_link:hover
{
  background-color: $wsum_black;
  color: $wsum_orange;
}

#playlist_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#playlist_link:hover
{
  background-color: white;
  color: $wsum_orange;
}

#admin_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;

  &:hover
  {
      background-color: $wsum_black;
      color: $wsum_orange;
  }
}

#signout_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#signout_link:hover
{
  /* a nice red color */
  background-color: #D92623;
  color: white;
}

// .navbar-brand:hover
// {
  // color:blue;
// }

/* notify */
notify
{
  position: relative;
  /* margin: 10px 0 10px 0; */
  font-family: $wsum_font;
  width: 200px;
}

/* jumbotron */
.jumbotron
{
  width: 75%;
  margin: 0 auto;
  padding-bottom: 80px;
  /*font-family: 'Menlo', mono-space;*/
  
}

/* playlist_short */
#playlist_short
{
        margin: 25px auto;
}

#playlist_short .list-group-item
{
        background-color: $wsum_orange;
        color: $wsum_black;
        font-family: $wsum_font;

        &:hover
        {
                background-color: $wsum_black;
                color: $wsum_orange;
        }
}

/* playlists page */
.playlist_singleton
{
        font-family: $wsum_font;
        color: $wsum_black;
        background-color: #eee;
        margin-bottom: 10px;
        border-radius: 5px;

        th
        {
            font-size: 1.25em;
        }
        
}

#playlist_owner
{
      font-family: $wsum_font;
      color: $wsum_orange;
      text-align: center;
      padding: 10px;
      margin-bottom: 30px;
}

#plist_new_btn
{
      margin-bottom: 10px;
}

/* footer */

footer {
  
  /*position:absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*clear: both;*/
  /*margin-top: 45px;*/
  /*padding: 5px 10px 0 10px;*/
  /*border-top: 1px solid #eaeaea;*/
  /*color: $wsum_black;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-size: 0.75em;*/

}

#our_footer
{
  /*margin: 0 auto;*/
  background-color: #eee;
  position: absolute;
  width: 100%;
  /* mess with block */
  /*margin-top: -45px;*/
  margin-bottom: -20px;
  height: 45px;
  clear: both;
  padding: 10px 30px 0 30px;
  font-family: $wsum_font;
  font-size: 1.25em;
  text-align: center;
  /*top: 100%;*/

  a
  {
   &:hover
   {
     color: $wsum_orange;       
     text-decoration:none;
     background-color: #eee;
   }
  }

}



/* misc */

/*.load_box
{
  margin: 0 auto;
  border: 2px solid black;
}*/


/*footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}*/
