/* stylesheet for project */
/* thanks to cssstickyfooter.com */
@import "bootstrap";

/* universal */

$wsum_orange: #f05133;
$wsum_black: #333333;
$wsum_font: 'Oswald', sans-serif;


html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px;
  font-family: $wsum_font;
  height: 100%;
}

#all_content
{
  min-height: 100%;
}

#yield_wrapper
{
  overflow: auto;
  padding-bottom: -45px;
  margin-bottom: 30px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
header
{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  // margin: 0 5px 0 5px;
}

.wsum
{
  position: absolute;
  top: 0;
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
}

#wsum_logo
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.75em;
}

// a #wsum_logo:hover
// {
  // color: blue;
// }

// .navbar a:hover
// {
  // color: blue;
// }

#wsum_logo:hover
{
  background-color: $wsum_black;
  color: $wsum_orange;
}

#home_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#home_link:hover
{
  background-color: $wsum_black;
  color: $wsum_orange;
}

#playlist_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#playlist_link:hover
{
  background-color: white;
  color: $wsum_orange;
}

#admin_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;

  &:hover
  {
      background-color: $wsum_black;
      color: $wsum_orange;
  }
}

#signout_link
{
  background-color: $wsum_orange;
  color: $wsum_black;
  font-family: $wsum_font;
  font-size: 1.3em;
}

#signout_link:hover
{
  /* a nice red color */
  background-color: #D92623;
  color: white;
}

// .navbar-brand:hover
// {
  // color:blue;
// }

/* notify */
notify
{
  position: relative;
  /* margin: 10px 0 10px 0; */
  font-family: $wsum_font;
  width: 200px;
}

/* jumbotron */
.jumbotron
{
  width: 75%;
  margin: 0 auto;
  padding-bottom: 80px;
  /*font-family: 'Menlo', mono-space;*/
  
}

/* playlist_short */
#playlist_short
{
        margin: 25px auto;
}

#playlist_short .list-group-item
{
        background-color: $wsum_orange;
        color: $wsum_black;
        font-family: $wsum_font;

        &:hover
        {
                background-color: $wsum_black;
                color: $wsum_orange;
        }
}

/* footer */

footer {
  
  /*position:absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*clear: both;*/
  /*margin-top: 45px;*/
  /*padding: 5px 10px 0 10px;*/
  /*border-top: 1px solid #eaeaea;*/
  /*color: $wsum_black;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-size: 0.75em;*/

}

#our_footer
{
  /*margin: 0 auto;*/
  background-color: #eee;
  position: relative;
  /*margin-top: -45px;*/
  margin-bottom: -20px;
  height: 45px;
  clear: both;
  padding: 10px 30px 0 30px;
  font-family: $wsum_font;
  font-size: 1.25em;
  text-align: center;

  a
  {
   &:hover
   {
     color: $wsum_orange;       
     text-decoration:none;
     background-color: #eee;
   }
  }

}

/*footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}*/
