<!-- header partial -->
<header>
    	<div class="col-md-6">
    	<!-- <% link_to "homepage", "#", id: "logo" %> -->
   		<!-- a link to the wsum website -->
    	<%= link_to(image_tag("wsumlogo.jpeg", :alt=> "WSUM", :title=> "WSUM", :size=> "130x130"), "http://wsum.org") %>
    	</div>
      <!-- <li> -->
        <!-- <ul class="nav pull-right"> -->
        <div class="col-md-6">
        	<h1>
          		<%= link_to "Home", "home_page/home" %>
          		<%= link_to "My Playlists", "playlist_page/plist" %>
          		<%= link_to "Sign In/Out", "#" %>
         	</h1>
         </div>
        <!-- </ul> -->
      <!-- </li> -->
</header>
