<footer class="footer">
  <small>
    DeweyDecibelDatabase (D3), 2014
    THIS IS THE HOME SEARCH MODAL
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "Github", "https://github.com/DeweyDecibelDatabase/d3" %></li>
    </ul>
  </nav>
</footer>

