<div class="container" id="playlist_short">
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4> David Bowie Berlin Trilogy Playlist</h4>
      <p>Dj - David Bowie, Be My Wife - David Bowie, "Heroes" - David Bowie ...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4> Post-Punk Playlist</h4>
      <p>Bela Lugosi's Dead - Bauhaus, Don't Fall - Chameleons, She's Lost Control - Joy Division ...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4> Shoegaze Playlist</h4>
      <p>Nothing Is - My Bloody Valentine, Fix To Fall - Loop, When The Sun Hits - Slowdive ...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4> Ultra Party Mix</h4>
      <p>Join In The Chant - Nitzer Ebb, Party All The Time - Eddie Murphy, Get Low - Lil' John ...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4> My First Playlist</h4>
      <p>My Way - Sid Vicious, Greater Reward - Severed Heads, You Are In My Vision - Gary Numan ...</p>
    </a>
  </div>
</div>
